/* index.css */
body {
  background-color: #a9c4e0;
  direction: rtl;
  padding: 30px;
  color: #2c3e50;
}
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
nav ul {
  display: flex;
  justify-content: right;
}
nav ul li {
  margin: 8px;
}
nav ul li a {
  text-decoration: none;
  color: #2c3e50;
  font-weight: bold;
}
nav ul li a:hover {
  text-decoration: none;
  color: #4f6e90;
  font-weight: bold;
}
.start-view {
  display: flex;
  margin-top: 80px;
  padding: 0px;
}
.start-view #profile-pic img {
  border-top-left-radius: 40%;
  border-top-right-radius: 40%;
}
.start-view #start-text {
  font-weight: bold;
  font-size: 26px;
  margin-top: 100px;
  margin-right: 200px;
}
/* about.css */
main h1 {
  display: flex;
  justify-content: center;
}
.greeting {
  display: flex;
  margin-top: 120px;
  margin-bottom: 120px;
  justify-content: space-evenly;
}
.greeting div {
  border: 2px solid #fbe092;
  border-radius: 100px;
  width: 20%;
  overflow: auto;
}
.greeting div h2 {
  justify-self: center;
}
.greeting div p {
  padding: 10px;
  text-align: center;
}

/*resume.css*/
#edu-parts {
  display: flex;
  padding: 0;
  margin: 0;
}
#edu-parts div {
  margin-left: 50px;
}
.education h1 {
  margin-bottom: 0px;
}
.job-experience h1 {
  margin-bottom: 0px;
}
.job-parts {
  display: flex;
  padding: 0;
  margin: 0;
}
.job-parts div {
  margin-left: 70px;
}
main {
  display: flex;
  justify-content: space-between;
  padding: 30px;
}
main .right-side {
  width: 70%;
}
main .left-side {
  width: 30%;
}
main table {
  width: 100%;
}
main table th {
  text-align: right;
  vertical-align: middle;
}
.projects div a {
  text-decoration: none;
  color: #2c3e50;
}
.projects div a:hover {
  text-decoration: none;
  color: #4f6e90;
}
.right-side .face-id img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.right-side .face-id {
  display: flex;
}
.face-id div {
  margin-right: 40px;
  align-content: center;
}

/* contact.css */
.contact-us {
  margin-top: 100px;
}
.contact-info form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-info form input,
textarea {
  border-style: none;
  background-color: #a9c4e0;
  border-bottom: 2px solid #fbe092;
  width: 250px;
  margin-bottom: 15px;
}
.contact-info form label {
  margin-bottom: 15px;
}
.contact-info form textarea {
  height: 20px;
}
.contact-info form textarea:focus {
  height: 50px;
}
.contact-info form button {
  margin-top: 10px;
  width: 250px;
  height: 40px;
  border-radius: 20px;
  background-color: #fbe092;
  color: #2c3e50;
  border-style: none;
}
.contact-info form button:hover {
  background-color: #f4c63e;
}
.contact-details a {
  text-decoration: none;
  font-weight: bold;
  color: #2c3e50;
}
.contact-details a:hover {
  text-decoration: none;
  font-weight: bold;
  color: #4f6e90;
}
.contact-details {
  font-weight: bold;
  direction: ltr;
}
body main h1 {
  display: flex;
  margin-top: 50px;
  justify-content: center;
}
